skill-flow/data/skills-refined-autoskill-36k/skillsmp/n8n-ops/test-workflow.json
{
  "name": "MCP-Hub-Test-Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "mcp-test-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input\nconst input = $input.first().json;\nconst timestamp = new Date().toISOString();\n\n// Echo back with metadata\nreturn {\n  success: true,\n  received: input,\n  metadata: {\n    timestamp,\n    source: 'mcp-hub-test',\n    version: '1.0.0'\n  }\n};"
      },
      "id": "process-input",
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Input": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "test"
    },
    {
      "name": "mcp-hub"
    }
  ],
  "triggerCount": 0
}
